<form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <h1 class="form__title">{{ title }}</h1>
  <label class="form__label" for="emailInput"> {{ labels.email }}</label>
  <input
    class="form__input"
    type="email"
    name="email"
    id="emailInput"
    formControlName="email"
  />
  <span
    *ngIf="submitted && registerForm.get('email')?.hasError('required')"
    class="error"
  >
    {{ labels.errorEmailRequired }}
  </span>
  <span
    *ngIf="submitted && registerForm.get('email')?.hasError('email')"
    class="error"
  >
    {{ labels.errorEmailIncorrect }}
  </span>
  <label class="form__label" for="passwordInput">{{ labels.password }}</label>
  <input
    class="form__input"
    type="password"
    name="password"
    id="passwordInput"
    formControlName="password"
  />
  <span
    *ngIf="submitted && registerForm.get('password')?.hasError('required')"
    class="error"
  >
    {{ labels.errorPasswordRequired }}
  </span>
  <span
    *ngIf="submitted && registerForm.get('password')?.hasError('minlength')"
    class="error"
  >
    {{ labels.errorPasswordLength }}
  </span>
  <label class="form__label" for="confirmPasswordInput">
    {{ labels.confirmPassword }}
  </label>
  <input
    class="form__input"
    type="password"
    name="confirmPassword"
    id="confirmPasswordInput"
    formControlName="confirmPassword"
  />
  <span
    *ngIf="submitted && registerForm.errors?.['notmatched'] && (registerForm.touched || registerForm.dirty)"
    class="error"
  >
    {{ labels.errorConfirmPassword }}
  </span>
  <div class="form__rules">
    <div class="form__rule">
      <input
        class="form__checkbox"
        type="checkbox"
        name="all"
        id="allCheckbox"
        [checked]="checkedAll"
        (change)="checkAll($event)"
      />
      {{ labels.acceptAllRules }}
    </div>
    <div *ngFor="let rule of ruleList" class="form__rule">
      <input
        class="form__checkbox"
        type="checkbox"
        [name]="rule.name"
        id="{{ rule.name }}Checkbox"
        [checked]="rule.checked"
        (change)="checkOne($event)"
        value="{{ rule.checked }}"
        [formControlName]="rule.name"
      />
      <span *ngIf="rule.required">*</span>
      {{ rule.label }}
    </div>
  </div>
  <input
    class="form__submit"
    type="submit"
    value="{{ labels.registerButton }}"
  />
</form>
